*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    background: #fff;
    color: #333;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    background-color: #e2e2e211;
    
}

.logo-link{
    text-decoration: none;
    display: flex;
    font-size: 2rem;
    font-weight: 600;
    color: #2c2a2a;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: #47424296;

}

.username-link{
    text-decoration: none;
    display:flex;
    font-size: 1rem;
    color: #1cb5fc;
    font-weight: 600;
    background-color: #e9f8ff;
    padding: 20px 15px;
    border-radius: 1rem;

}

.hero{
    max-width: 2000px;
    height: 84vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7rem;
    padding: 50px;
    
}

.left-div{
    max-width: 500px;
    height: 500px;
    
}

.left-div h1{
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 2rem;;
    margin-bottom: 1rem;
    color: #474242;

}

.highlight{
    color: #1cb5fc;

}
    

.left-div p{
    font-size: 1.3rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: justify;
    color: #47424262;
    margin-bottom: 2rem;

}

.btn{
    color: #fff;
    font-size: 1.1rem;
    border: none;
    padding: 25px 60px;
    border-radius: 1.5rem;
    background-color: #1cb5fc;
    cursor: pointer;

}

.right-div img{
    max-width: 400px;
    width: 100%;
    height: 500px;

}








    
    

    
    
    



















/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Arial',sans-serif;
    line-height: 1.6rem;
    color: #333;

}

.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 60px;
}

.header{
    background-color: white;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    font-size: 1.6rem;
    font-weight: bold;

}

.username{
    font-size: 0.8rem;
    font-weight: bold;
        
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 2rem;
    
}

.nav-links a{
    text-decoration: none;
    font-weight: bold;
    color: #33333375;

}

.logo-link{
    text-decoration: none;
    color: #333;
    font-size: 1.6rem;
    font-weight: bold;
    align-items: start;
    
}

.username-link{
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(22, 163, 245);
    background-color: rgba(22, 163, 245, 0.116);
    padding: 19px 10px;
    border-radius: 10px;
  
}

.hero{
    max-width: 1800px;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.158);
       align-items: center;
    text-align: left;
       display: flex;
    display: grid;
       grid-template-columns: 1fr 1fr;
       gap: 3rem;
    color: #333;
    padding-left: 50px;

    
}

.left-div{
       display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
}

.left-div h1{
    font-size: 3.5rem;
       font-weight: 700;
    line-height: 4.5rem;
       margin-top: 6rem;
    margin-bottom: 1rem;

       letter-spacing: 1px;
       padding-left: 5rem;


}

.text{
    color: rgb(22, 163, 245);
    
}

.left-div p{
    font-size: 1.4rem;
    line-height: 1.7rem;
       margin-top: 1rem;
    margin-bottom: 2rem;
       max-width: 600px;
       padding-left: 5rem;
       text-align: justify;
    color: #33333359;

}

.hero-button{
    display: flex;
    margin-top: 2rem;
    padding-left: 5rem;

}

.btn{
    text-decoration: none;
    display: flex;
    margin-bottom: 3rem;
    color: white;
    max-width: 21rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 30px 60px;
    border-radius: 25px;
    background-color: rgb(22, 163, 245);

}

.right-div img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
} 

.right-div{
    max-width: 50%;
    height: 80vh;
    align-items: center;
    
    display: flex;
    padding-left: 50rem;
    padding-left: 10rem;


}

.right-div img{
    width: 100%;
    height: auto;
    object-fit: cover;

} */